@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Function output (POST):</h2>
    <p>@ViewData["Data"]</p>
    <h2>Function output (GET):</h2>
    <p>@ViewData["Data2"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
